/** color */
@darkTheme: rgb(23, 29, 32);
@lightTheme: rgba(255, 255, 255);

@black: rgba(0, 0, 0);
@black_high: rgba(0, 0, 0, 0.87);
@black_half: rgba(0, 0, 0, 0.54);
@white: rgba(255, 255, 255);

@orange: #e54d42;

@borderColor: #eee;

/** font */
@defaultFontFamily: Roboto, sans-serif;

/** box-shadow */
@lightBoxShadow:  0 20px 40px -15px rgba(0, 0, 0, .05);


